@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.box {
    height: 100px;
    width: 100px;
    border-width: 3px;
    border-radius: 15px;
}

.style1 {
    background-color: #e0e0e0;
}

.style2 {
    background-color: #6fcf97;
}

.style3 {
    background-color: #56ccf2;
}

.style4 {
    background-color: #bb6bd9;
}

.main {
    font-family: "Open Sans";
    font-size: 20px;
    color: #222222;
    font-weight: bold;
}


.colorname {
    margin-top: 5px;
    color: white;
    background-color: black;
    width: 100vw;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
}

.specialcase {
    color: #49a6e9;
}